.client-section {
  padding: 10px;
  background-image:linear-gradient(130deg,#661467,#290317);
  border-bottom: initial;
}

.client-heading {
  color: #c8c5c5;
  font-size: 15px;
  padding-top: 20px;
  font-family: Lato, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.no-pad {
  padding-top: 20px;
  padding-bottom: 10px;
}

.client-row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.client-container {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .client-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(0%);
    height: 200px;
    width: 180px;
  }
}

.client-image:hover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: scale(1.2,1);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0px;
  height: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0px;
  height: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  /*padding-left: 5%;*/
  height: auto;
  /*padding-right: 5%;*/
  /*padding-top: 5%;*/
  /*padding-bottom: 5%;*/
}

.container {
  max-width: 1200px !important;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0px;
  height: auto;
}

.more{
  color: #0b0c13;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.914);
  text-decoration: underline;
}

.more:hover{
  background-image: linear-gradient(120deg, #5a1111, #a30b0b);
  color: #000000;
}

